<footer class="bd-footer text-muted">
  <div class="container-fluid p-3 p-md-5">
    <ul class="bd-footer-links">
      <li><a href="{{site.repo}}">GitHub</a></li>
      <li><a href="{{site.baseurl}}/examples/">Examples</a></li>
      <li><a href="{{site.baseurl}}/about">About</a></li>
    </ul>
    
    <p>当前版本 v{{site.currently}}. 源代码基于 <a href="{{site.repo}}/blob/master/LICENSE" target="_blank"
        rel="license noopener">MIT</a> 开源协议发布, 文档基于 <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank"
        rel="license noopener">CC BY 3.0</a> 共享协议发布。</p>
  </div>
</footer>